[Unit]
After=docker.service

[Service]
RestartSec=10s
Restart=on-failure
ExecStartPre=-/usr/bin/docker kill development1
ExecStartPre=-/usr/bin/docker rm development1
ExecStart=/usr/bin/docker run --name development1 -v home-data:/home -p 2222:22 stable:5000/development /usr/sbin/sshd -D
ExecStop=/usr/bin/docker stop -t 2 development1
